
// Jumbotron image
.about-image-colour {
    background: rgba(255, 60, 0, 0.82);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.about-image img {
    width: auto;
    height: 500px;
}
.about-image {
    display: flex;
    justify-content: center;
    background: #f2f2f2;
    padding: 40px 0px 0px 0px;
}
// end Jumbotron image

// Our Story section
.our-story {
    padding: 10px;
    margin: 10px;
}
// end Our Story section

// Meet the Team section
.meet-the-team img {
    height: 250px;
    width: 250px;
}
// end Meet the Team section