.header {

}

//logo
.logo-container {
    display: flex;
    justify-content: center;
    float: left;
}

.logo {
    width: 150px;
    height: auto;
}
//end logo


//nav bar
.nav-bar {
    display: flex;
    justify-content: center;
}

.nav-bar ul {
    list-style-type: none;
    overflow: hidden;
}

.nav-bar li {
    float: left;
}

.nav-bar a {
    text-decoration-style: none;
    text-decoration: none;
    color: $colorRed;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  //end nav bar


//icons
.search-button:hover {
}

.icons-container {
    display: flex;
    justify-content: flex-end;
}

#site-search {
    display: none;
}
//end icons

.burger-menu {
    display: none;
}