// Colours
$colorPurple: #BBBDF6; //purple / soap
$colorNavy: #083D77; //navy
$colorYellow: #F4D35E; //yellow
$colorOrange: #EE964B; //orange
$colorRed: #F95738; //red


// Fonts
@font-face {
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Lexend+Deca|Montserrat|Nunito|Open+Sans&display=swap');
}

